---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

const data = {
	welcome: {
		title: "Op afstand werken.",
		subtitle: "Wij werken als designer, engineer, tester en meer op afstand voor verschillende bedrijven in Nederland."
	}
}
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="welcome">
			<div class="welcome-message">
				<h1>{data.welcome.title}</h1>
				<p>{data.welcome.subtitle}</p>
			</div>
			<div class="welcome-action-vacancy">
				<a href=""></a>
			</div>
		</div>
	</main>
</Layout>

<style lang='scss'>
	h1 {
		font-weight: 400;
		.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
		}
	}
</style>
